<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
	<div class="row">
		<div class="col-md-12">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Editing</strong> Country</h3>
					<ul class="panel-controls">
						<li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
					</ul>
				</div>
				
<%= render 'form' %>

<%= link_to 'Show', @geocountry %> |
<%= link_to 'Back', geocountries_path %>
				
			</div>
			
		</div>
	</div>
</div>
<!-- END PAGE CONTENT WRAPPER -->
